<!-- templates/base.html -->
<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebPlayer</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-logo">Your Logo Here</div>
        <div class="navbar-menu">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/movie">Movies</a></li>
                <li><a href="#">TV Shows</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Search</a></li>
            </ul>
        </div>
        <div class="navbar-profile">
            <a href="#"><img src="profile-icon.png" alt="User Profile"></a>
        </div>
    </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>