<!DOCTYPE html>
{% extends "main/base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css">

<h1>{{ movie.title }}</h1>
<div>
    <video id="player" controls></video>
</div>
<script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
<script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        var video = document.getElementById('player');
        var source = "{{ path }}";
        const defaultOption = {};
        if (Hls.isSupported()) {
            const hls = new Hls();
            hls.loadSource(source);
            hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
                const availableQualities = hls.levels.map((l) => l.height)
                defaultOption.controls =
                    [
                        'play-large', // The large play button in the center
                        'restart', // Restart playback
                        'rewind', // Rewind by the seek time (default 10 seconds)
                        'play', // Play/pause playback
                        'fast-forward', // Fast forward by the seek time (default 10 seconds)
                        'progress', // The progress bar and scrubber for playback and buffering
                        'current-time', // The current time of playback
                        'duration', // The full duration of the media
                        'mute', // Toggle mute
                        'volume', // Volume control
                        'captions', // Toggle captions
                        'settings', // Settings menu
                        'pip', // Picture-in-picture (currently Safari only)
                        'airplay', // Airplay (currently Safari only)
                        'fullscreen', // Toggle fullscreen
                    ];
                defaultOption.quality = {
                    default: availableQualities[0],
                    options: availableQualities,
                    forced: true,
                    onChange: (e) => updateQuality(e)
                }
                new Plyr(video, defaultOption);
            });
            hls.attachMedia(video)
            window.hls = hls;
        }
        function updateQuality(newQuality) {
            window.hls.levels.forEach((level, levelIndex) => {
                if (level.height === newQuality) {
                    window.hls.currentLevel = levelIndex
                }
            })
        }
    })
</script>

{% endblock %}